section {
    min-height: 80vh;
}

#name {
    color: rgba(3, 118, 3, 0.989)
}

.company_logo {
    height: 40px;
}

.portfolio-img {
    height: 200px;
}

/* .project:hover {
    transform: translateY(-1.2rem);
} */
