/* section {
    min-height: 80vh;
} */

#name {
    color: #556a17;
}

.company_logo {
    height: 40px;
}

.portfolio-img {
    height: 200px;
}

header {
    background-color: #ebf1ce;
}

#section-hero {
    background-color: #f5f9e1;
    min-height: 100vh;
}

.nav-item > a, #app_name {
    color: #264f41;
}

.nav-item > a:hover {
    color: #5b3624;
}

#hero-resume-button {
    text-decoration: none;
    background: #014a37;
    color: #fff;
}
#hero-resume-button:hover {
    background: #027e5d;
}

#hero-email-button {
    text-decoration: none;
    background-color: #cee57a;
    color: #014a37;
}

#hero-email-button:hover {
    background: #ebf1ce;
}

.page-heading {
    color: #014a37;
    font-weight: 700;
    letter-spacing: 10px;
}

.company-name {
    color: #014a37;
}
.company-name:hover {
    text-decoration: none;
    color: #498a73;
}

#mycontact {
    background-color: #014a37;
}

.award_year {
    color: #5b3624;
}

#award_div {
    background-color: #e5e5e3;
}

.portfolio_link {
    text-decoration: none;
    color: #014a37;;
}
.portfolio_link:hover {
    color: #498a73;
    cursor: pointer;
}